<div class="auth-page">
    <div class="container page">
      <div class="row">
  
        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-xs-center">{{ title }}</h1>
          <p class="text-xs-center">
            <a [routerLink]="['/login']" *ngIf="authType == 'register'">Have an account?</a>
            <a [routerLink]="['/register']" *ngIf="authType == 'login'">Need an account?</a>
          </p>
          <form [formGroup]="authForm" (ngSubmit)="submitForm()">
            <fieldset [disabled]="isSubmitting">
              <fieldset class="form-group">
                <input
                  formControlName="username"
                  placeholder="Username"
                  class="form-control form-control-lg"
                  type="text"
                  *ngIf="authType == 'register'" />
              </fieldset>
              <fieldset class="form-group">
                <input
                  formControlName="email"
                  placeholder="Email"
                  class="form-control form-control-lg"
                  type="text" />
              </fieldset>
              <fieldset class="form-group">
                <input
                  formControlName="password"
                  placeholder="Password"
                  class="form-control form-control-lg"
                  type="password" />
              </fieldset>
              <button class="btn btn-lg btn-primary pull-xs-right"  type="submit">
                {{ title }}
              </button>
            </fieldset>
          </form>
        </div>
  
      </div>
    </div>
  </div>
  <!-- <div>
    <mat-card>
      <button [routerLink]="['/login']" *ngIf="authType == 'register'" class="mat-raised-button">Have an account?</button>
      <button [routerLink]="['/register']" *ngIf="authType == 'login'" class="mat-raised-button">Need an account?</button>
      <div></div>
      <form [formGroup]="authForm" (ngSubmit)="submitForm()">
        <fieldset [disabled]="isSubmitting">
          <mat-form-field *ngIf="authType == 'register'"appearance="fill">
            <mat-label>email Id</mat-label>
            <input matInput placeholder="user name">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Enter Your user name here</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>email Id</mat-label>
            <input matInput placeholder="email id">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Enter Your Email Id here</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="password">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Enter your password</mat-hint>
          </mat-form-field>
          <button class="mat-raised-button" color="primary" type="submit">
            {{ title }}
          </button>
        </fieldset>
      </form>
      
    </mat-card>
  </div> -->